.grid-container {
    display: grid;
    height: 400px;
    width: 400px;
    background-color: rgb(219, 86, 86);
    
    border: 2px black;
}

.grid-square {
    background-color: white;
    border: 1px solid black;
}

.grid-square.hovered {
    background-color: black;
}
